server:
  port: 8011
#  servlet:
#    context-path: /api

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761//eureka
#      defaultZone: http://k9d204.p.ssafy.io:8761/eureka

spring:
  application:
    name: account
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/account?serverTimezone=Asia/Seoul
#    url: jdbc:mysql://k9d204.p.ssafy.io:3306/account?serverTimezone=Asia/Seoul
    username: root
#    password: ENC(MuQTs+9nqlSPWG3Z+3bpRA==)
    password: qwe123

  jpa:
    database: mysql
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true


  redis:
#    host: ENC(G6L03YghvQxiq9YSUngL51alhdDqZcJI)
    host: k9d204.p.ssafy.io
    port: 6379

jwt:
  secret: ENC(NumiU4LB6bpLOCSPlp6Ob5pDZICXItQDfvb66DmVCNdUdMYKmR/O7FDxdP8AVSVCLUUzEUG8LkWUuPK14u2ejw==)

trace: true

springdoc:
  api-docs:
    path: /account-service/v3/api-docs
  swagger-ui:
    path: /account-service/swagger-ui.html

openapi:
  service:
#    url: http://k9d204.p.ssafy.io:8000/
    url: http://localhost:8000/

jasypt:
  encryptor:
    password: ${PASSWORD}